

# Application ignore files
Optima.API/bin
Optima.API/obj
Optima.API/.env

# Application ignore files
Optima.Application/bin
Optima.Application/obj

# Domain ignore files
Optima.Domain/bin
Optima.Domain/obj

# Domain Infrastructure files
Optima.Infrastructure/bin
Optima.Infrastructure/obj

# Domain Infrastructure.Ioc files
Optima.Infrastructure.Ioc/bin
Optima.Infrastructure.Ioc/obj

